#ingredientsDisplay{
    text-align: center;
}

#ingredientsDisplay li {
    display: inline;
    padding-right: 0.9em;
    padding-left: 0.9em;
    border-right: 1px solid #009;
    border-left: 1px solid #009;
    font-size: 1em;
    font-weight: bold;
}