.DrinkDetails {
    margin: 0 5em;
}

.DrinkDetails .title {
    font-size: 4em;
    text-align: center;
}

.DrinkDetails .tags-list {
    text-align: center;
    margin-top: 7em;
    margin: 5em auto 0em auto;
}

.DrinkDetails .tag {
    padding: 0.4em 1.3em;
    margin: 0 0.3em;
    background-color: #d8e2ed;
    font-size: 1em;
}