.DrinkThumbnail {
    display: inline-block;
    margin: 0.7em;
    width: 13em;
    box-shadow: 0.06em 0.06em 0.4em 0 rgb(0 0 0 / 9%);
}

.DrinkThumbnail:hover {
    transform: translateY(-0.3em);
}

.DrinkThumbnail .image-wrapper img {
    width: 100%;
}

.DrinkThumbnail .info-wrapper {
    text-align: center;
    background: white;
}

.DrinkThumbnail .title {
    width: 90%;
    font-size: 1.15em;
    height: 4.5em;
    padding-top: 0.9em;
    color: #333;
    margin: 0 auto;
}

.DrinkThumbnail .info {
    height: 4em;
}

.DrinkThumbnail .info .ingredients-tab {
    color: #888;
    display: inline-block;
    margin-right: 1em;
}

.DrinkThumbnail .info .stars-tab {
    display: inline-block;
    color: #888;
    margin-left: 1em;
}

.DrinkThumbnail .info .stars-text {
    font-size: 0.8em;
}

.DrinkThumbnail .info .ing-text {
    font-size: 0.8em;
}