.DrinkDetails {
    margin: 0 5em 5em 5em;
}

.DrinkDetails .title {
    font-size: 4em;
    text-align: center;
    margin-bottom: 1em;
}

.DrinkDetails .tags-list {
    text-align: center;
    margin-top: 7em;
    margin: 5em auto 0em auto;
}

.DrinkDetails .tag {
    padding: 0.4em 1.3em;
    margin: 0 0.3em;
    background-color: #d8e2ed;
    font-size: 1em;
}

.DrinkDetails .content {
    width: 70em;
    margin: 0 auto;
}

.DrinkDetails .main-image {
    display: inline-block;
    width: 40em;
}

.DrinkDetails .main-image img {
    width: 100%;
}

.DrinkDetails .main-text {
    display: inline-block;
    vertical-align: top;
    width: 26em;
    margin-left: 2em;
}

.ingr-list {
    padding-top: 0.7em;
    list-style-type: square;
}

.ingr-item {
    color: #749FC8;
    font-size: 1.2em;
}

.ingr-text {
    color: black;
    position: relative;
    right: -0.6em;
}

.ingredients-title {
    font-size: 2em;
    border-bottom-style: dashed;
    border-color: #DDDDDD;
    padding-bottom: 0.7em;
    margin-top: 0.3em;
}

.extra-space {
    margin-top: 1.4em;
}

.step-list {
    list-style: decimal-leading-zero;
    padding-top: 0.7em;
}

.step-item {
    font-size: 1.2em;
    color: #749FC8;
    margin-bottom: 0.6em;
}

.step-text {
    color: black;
    position: relative;
    right: -0.6em;
}