.NavigationBar{
    width: 15em;
    margin: 1em auto;
    font-size: 1.2em;
}

.NavigationBar .navbutton{
    margin: 0.3em;
    text-decoration: none;
}

.navbutton{
  position:relative;
  color:black;
  padding:5px;
}

.nav-inactive{
    border-bottom: 0.3em solid lightgrey;
}

.nav-active{
    border-bottom: 0.3em solid darkgoldenrod;
}

.nav-active:after{
  position:absolute;
  content:'';
  left:50%;
  margin-left:-10px;
  top:39px;
  border: 12px solid transparent;
  border-bottom: 12px solid darkgoldenrod;
  transform: rotate(180deg);
}

