.Pagination-wrap {
    margin: 2em 0;
}

.Pagination-wrap .page-nr {
    margin: 0 0.1em;
}

.active-page {
    background-color: #749FC8 !important;
    color: white !important;
}

.pagination>li>a {
    background-color: #D4E9FC;
    color: #333;
    font-size: 1em;
    padding: 0.7em 1.1em;
}

.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #333;
    background-color: #749FC8;
    border-color: #749FC8;
    cursor: pointer;
}

.page-nav-buttons {
    background-color: #749FC8 !important;
}

.page-nav-buttons:hover {
    color: white !important;
}

.pagination-btn-hidden {
    display: none;
}

.pag-placeholder{
    padding: 1.5em;
}