.QueryTermBlock {
    position: absolute;
    top: -10em;
    left: 4.1em;
    height: 8em;
    width: 17em;
    font-size: 15px;
}

.QueryTermBlock .title {
    width: 5em;
    padding-top: -1em;
    display: block;
    color: #555;
    font-weight: 500;
    font-size: 14px;
}

@media only screen and (max-width: 1049px) {
    .QueryTermBlock {
        display: none;
    }
}