.QueryTermBlock {
    position: absolute;
    top: -8.5em;
    left: 3.7em;
    height: 6em;
    width: 16em;
}

.QueryTermBlock .title {
    width: 5em;
    padding-top: -1em;
    display: block;
    color: #555;
    font-weight: 500;
}