.QueryTermBlock {
    position: absolute;
    top: -8.5em;
    left: 3.7em;
    height: 6em;
    width: 18em;
}

.QueryTermBlock .query-term {
    margin: 0.4em 0.4em 0 0;
    border: 1px solid black;
    display: inline-block;
    padding: 0.1em; 
}

.QueryTermBlock .title {
    width: 5em;
    padding-top: -1em;
    display: block;
    color: #555;
    font-weight: 500;
}