.SearchBarWrapper{
    width: 40em;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.SearchBar{
    width: 39.5em; 
    margin: 0 auto;
    padding-top: 1.65em;
}

.SearchBar input{
    width: 34em;
    padding: 0.66em;
    border: 1px solid #DDD;
}

.SearchBar .button{
    padding: 0.72em;
    width: 5.5em;
    text-decoration: none;
    color: inherit;
    background: #A0C3CC;
    float:right;
}

.SearchBar .dropdown {
    width: 34em;
    padding: 0;
    text-align: left;
    max-height: 25em;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid lightgrey;
    border-top: none;
    position: absolute;
    z-index : 1;
}

.SearchBar .item  {
    display: block;
    cursor: pointer;
    font-size: 14px;
    padding: 15px;
}

.SearchBar .item:hover {
    background-color: #0069ff;
    color: #FAFBFC;
}
