.SearchBarWrapper {
    width: 40em;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.SearchBar {
    width: 39.5em;
    margin: 0 auto;
    padding-top: 2.5em;
}

.SearchBar .input-bar-custom {
    padding: 0.66em;
    width: 34em;
    background: white;
    text-align: left;
    border: 0.06em solid #DDD;
}

.SearchBar input {
    width: 34em;
    padding: 0.66em;
    border: 0.06em solid #DDD;
}

.SearchBar .button {
    padding: 0.72em;
    width: 5.5em;
    text-decoration: none;
    color: inherit;
    background: #A0C3CC;
    float: right;
    cursor: pointer;
}

.SearchBar .button:hover {
    background: #6495A3;
    color: white;
}

.SearchBar .dropdown {
    width: 34em;
    padding: 0;
    text-align: left;
    max-height: 16em;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 0.06em solid lightgrey;
    border-top: none;
    position: absolute;
    z-index: 1;
}

.SearchBar .item {
    display: block;
    cursor: pointer;
    font-size: 0.87em;
    padding: 1.1em;
}

.SearchBar .item:hover {
    background-color: #0069ff;
    color: #FAFBFC;
}

.SearchBar .clear-icon {
    position: absolute;
    right: 6em;
    top: 3em;
    color: #ccc;
    padding: 0.5em 0.8em;
}

.SearchBar .clear-icon:hover {
    color: #333;
    cursor: pointer;
}

.SearchBar-wrapper {
    display: inline-block;
}

.search-background {
    padding: 0.4em 0;
    text-align: left;
    width: 34em;
    background-color: white;
    border: 0.06em solid #DDD;
}

.search-wrapper {
    width: 31.5em;
    min-height: 2.02em;
    display: flex;
    align-items: center;
}

.search-tags {
    display: inline-block;
    margin-left: 0.5em;
}

.search-input {
    display: inline-block;
    margin-left: 0.16em;
    word-break: break-word;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.search-wrapper span:empty::before {
    content: attr(data-placeholder);
    color: #757575;
}