.SearchBarWrapper {
    width: 40em;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.SearchBar {
    width: 39.5em;
    margin: 0 auto;
    padding-top: 2.5em;
}

.SearchBar input {
    width: 34em;
    padding: 0.66em;
    border: 0.06em solid #DDD;
}

.SearchBar .button {
    padding: 0.72em;
    width: 5.5em;
    text-decoration: none;
    color: inherit;
    background: #A0C3CC;
    float: right;
    cursor: pointer;
}

.SearchBar .button:hover {
    background: #6495A3;
    color: white;
}

.SearchBar .dropdown {
    width: 34em;
    padding: 0;
    text-align: left;
    max-height: 16em;
    overflow: hidden;
    overflow-y: auto;
    background-color: #ffffff;
    border: 0.06em solid lightgrey;
    border-top: none;
    position: absolute;
    z-index: 1;
}

.SearchBar .item {
    display: block;
    cursor: pointer;
    font-size: 0.87em;
    padding: 1.1em;
}

.SearchBar .item:hover {
    background-color: #0069ff;
    color: #FAFBFC;
}

.warning-max-ing {
    position: absolute;
    font-size: 0.9em;
    left: 0.4em;
    top: 1.2em;
    color: black;
    font-weight: 500;
}

.SearchBar .clear-icon {
    position: absolute;
    right: 6em;
    top: 3em;
    color: #ccc;
    padding: 0.5em 0.8em;
}

.SearchBar .clear-icon:hover {
    color: #333;
    cursor: pointer;
}

.SearchBar-wrapper{
    display: inline-block;
}