.SideBar {
    width: 30%;
}

.SideBar .frontText {
    font-size: 1.1em;
    padding-bottom: .5em;
    padding-left: 3.5em;
    margin-top: -3.2em;
}

.SideBar .sections {
    padding-left: 4em;
}

.SideBar .header {
    font-weight: 500;
    padding: 0.5em 0;
    color: #555;
    font-weight: 500;
    font-size: 1.1em;
}

.SideBar .clearAllButton {
    color: #749FC8;
    text-decoration: none;
    cursor: pointer;
}