.SideBar {
    width: 23em;
    text-align: left;
}

@media only screen and (max-width: 863px) {
    .SideBar {
        display: none;
    }
}

.SideBar .frontText {
    font-size: 1.1em;
    padding-bottom: .5em;
    padding-left: 3.5em;
}

.SideBar .sections {
    padding-left: 4em;
}

.SideBar .header {
    font-weight: 500;
    padding: 0.5em 0;
    color: #555;
    font-weight: 500;
    font-size: 1.1em;
}

.SideBar .clearAllButton {
    color: #749FC8;
    text-decoration: none;
    cursor: pointer;
    margin-left: 0.6em;
}