.SuggestionsList{
    padding-top: 1em;
    width: 20em;
    margin: 0 auto;
}


.SuggestionsList .suggestion{
    border: 0.06em solid black;
    display: inline-block;
    margin: 0.3em;
    padding: 0.3em 0.8em;
    background: #d8e2ed;
    text-decoration: none;
    color: inherit;
}

.SuggestionsList .suggestion:hover{
    background: #cad6e4;
}

.suggestions-title{
    width: 6em;
    margin: 0.5em auto 0.2em auto;
    font-weight: 500;
    font-size: 0.9em;
}