.info-tooltip {
    font-size: 0.8em;
    color: #e4965f;
    position: absolute;
    top: 0.6em;
}

.tooltip-text {
    font-size: 0.8em;
    border-radius: 0.5em;
    padding: 0.6em;
    background-color: #363637;
    color: white;
    position: absolute;
    opacity: 0.95;
    left: 3em;
    top: 2.5em;
    display: none;
    width: 31em;
}

.up-arrow:after {
    content: '';
    display: block;
    position: absolute;
    left: 13.9em;
    bottom: 97%;
    width: 0;
    height: 0;
    border: 0.7em solid transparent;
    border-bottom-color: #363637;
}

.info-tooltip:hover+.tooltip-text {
    display: block;
}

@media only screen and (max-width: 720px) {
    .tooltip-text {
        width: 27em;
    }
}

@media only screen and (max-width: 610px) {
    .tooltip-text {
        width: 24em;
    }
}

@media only screen and (max-width: 520px) {
    .tooltip-text {
        width: 21em;
    }
}

@media only screen and (max-width: 440px) {
    .tooltip-text {
        width: 18em;
    }
}

@media only screen and (max-width: 440px) {
    .tooltip-text {
        width: 17em;
    }
}


