.jumbotron {
    padding-top: 4em;
    padding-bottom: 6em;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}

.WelcomePage .title {
    color: white;
    font-size: 2.44em;
    font-weight: bold;
    margin-top: 0.6em;
    margin-bottom: -0.25em;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.2);
    -webkit-text-stroke: 0.5px #326472;
}